#root {
    margin: 0;
    text-align: center;
    direction: rtl;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-semi-bold);
    margin: 0;
    padding: 0;
}
h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-semi-bold);
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}