img {
    border-radius: 10px;
    border: 2px solid var(--border-color);
    box-shadow: var(--box-shadow-color) 1px 1px 1px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    margin: 0;
    padding: 0;
}
