/*label{*/
/*    font-size: var(--font-size-medium);*/
/*    font-weight: var(--font-weight-medium);*/
/*}*/
img {
    border-radius: 10px;
    border: 2px solid var(--border-color);
    box-shadow: var(--box-shadow-color) 1px 1px 1px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
svg:hover {
    scale: 1.2;
    cursor: pointer;
}
svg{
    transition: scale .2s ease-in-out;
}