@font-face{
    font-family: 'Gabarito';
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/Gabarito-Regular.ttf");
}
@font-face{
    font-family: 'Gabarito';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Gabarito-Medium.ttf");
}
@font-face{
    font-family: 'Gabarito';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Gabarito-SemiBold.ttf");
}

@font-face{
    font-family: 'Gabarito';
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Gabarito-Bold.ttf");
}
@font-face{
    font-family: 'Gabarito';
    font-style: normal;
    font-weight: 1000;
    src: url("/fonts/Gabarito-ExtraBold.ttf");
}

:root {
    font-family: Gabarito, sans-serif;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}